body {
    background-image: url(../../images/projects/dandit/bg_main.png);
    background-size: auto 100%;
    image-rendering: pixelated;
    background-position: center;
    font-family: undertale;
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

#title {
    font-size: 6vw;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 3vw;
  background-color: rgba(31 30 30 0); /* Fully opaque */
  transition: background-color 0.5s;
  position: sticky;
  top: 0; 
  z-index: 1;
}



#nav-elements {
  width: 70%;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  
}

.drop-container {
  display: flex;
  justify-content: left;
} 

.dropdown {
  display: flex;
  align-items: center;
  border-radius: 1vw 1vw 0px 0px;
  transition: scale 0.4s, color 0.4s;
  
}


.redirect {
  transition: scale 0.4s;
}
.redirect:hover {
  scale: 1.2;
}

.dropdown {
  position: relative;
  
}


.dropdown text {
  display: flex;
  transition: scale 0.4s;
}

.drop {
  width: 60%;
  position: absolute;
  left: 85%;
  scale: 0;
  transform: rotate(-90deg);
  transition: transform 0.4s, scale 0.4s;
}


.list {
  display: flex;
  position: absolute;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.692);
  border-collapse: collapse;
  width: 115%;
  border-radius: 0px 1vw 1vw 1vw;
  top: 100%;
  justify-content: center;
  text-align: center;
  background: rgb(216, 216, 216);
  max-height: 0px;
  overflow-y:hidden;
  transition: max-height 0.8s;
}



tr {
  border-bottom: 4px groove rgba(255, 255, 255, 0.2);
}

tr:last-child{
  border: none;
}

th {
    font-size: 1.3vw;
    padding: 0.3vw;
    font-weight: bold;
    width: 1000px;
    transition: scale 0.4s;
    scale: 1;
}
th:hover {
    scale: 1.15;
}

#cursor {
  position: fixed; /* Essential for following the mouse across the viewport */
  top: 0;
  left: 0;
  pointer-events: none; /* Crucial: Ensures your custom cursor doesn't block clicks on elements underneath it */
  width: 100px;
  height: 100px;
  z-index: 2;

  background-color: rgba(168, 166, 162, 0.06);
  border-radius: 50%; /* For a circular cursor */
}


@font-face {
  font-family: undertale;
  src: url(../../projects/fonts/undertale.ttf);
}