* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



body {
    padding: 0px;
    justify-items: center;

    text-align: center;

    /* Text positioning */

    /* No Text select or image dragging */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -moz-user-select: none;
    -webkit-user-drag: none;
    margin: 0px;
    
    background-color: rgb(45, 44, 44);
}
.title {
    padding-top: 60px;
    font-size: 5vw;
    font-weight: bold; 
    text-align: center;
    width: 100%;
    color: rgb(246 244 240);
    transition: background-color 0.6s;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 3vw;
    background-color: rgba(31 30 30 0); /* Fully opaque */
    transition: background-color 0.5s;
    position: sticky;
    top: 0; 
    z-index: 1;
}



.nav-elements {
    width: 70%;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(168 166 162);
}
.nav-elements > div {
    display: flex;
    align-items: center;
}
.nav-elements #redirect {
    transition: scale 0.4s;
}
.nav-elements #redirect:hover {
    scale: 1.2;
}

#dropdown {
    position: relative;
    
}


#dropdown text {
    display: flex;
    transition: scale 0.4s;
}


#list {
    display: flex;
    position: absolute;
    color: rgb(212, 218, 224);
    border-collapse: collapse;
    width: 115%;
    border-radius: 0px 0px 1vw 1vw;
    top: 100%;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(31, 30, 30, 0), rgb(31, 30, 30));
    max-height: 0px;
    overflow-y: auto;
    transition: max-height 0.8s;
}

tr {
    border-bottom: 4px groove rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 20px 2px rgb(31, 30, 30);
    background-color: rgba(31, 30, 30, 0.5);
}

tr:last-child{
    border: none;
}

th {
    transition: scale 0.4s;
    scale: 0.6;
}
th:hover {
    scale: 0.75;
}

#imgContainer {
    position: relative;
}

.drop {
    width: 60%;
    position: absolute;
    left: 90%;
    scale: 0;
    transform: rotate(-90deg);
    transition: transform 0.4s, scale 0.4s;
}

.content {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: rgb(252 244 240);
    padding-top: 20px;
}
.content > div {
    width: 100%;
    height: calc(20vw + 15vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw 0;
}
.content img {
    border: 12px #595959 solid;
    border-radius: 15px;
    margin: auto;
    height: calc(18vw + 13vh);
}


.content img:hover {
    border-color: rgb(206 198 180);
    height: calc(20vw + 15vh);
    cursor: pointer;
}


a {
    display: inline-block;
    color: rgb(81 81 255);
}
a:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite;
}


.content h1 {
    font-size: 2.5vw; /* Base font size */
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 150%;
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.08));
    box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.1);
}

@media (max-width: 70vh) {
    .content h1:nth-child(even) {
        padding-left: 0px;
    }
    .content h1:nth-child(odd) {
        padding-right: 0px;        
    }
    .content > div:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
    }
    .content > div:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
    }

    .content > div:first-child {
        padding-top: 0px;
    }
}

@media (min-width: 70vh){
    .content > div:nth-child(odd) h1 {
        padding-right: 100px;
    }
    .content > div:nth-child(even) h1 {
        padding-left: 100px;
    }
    .content > div:nth-child(even) {
        display: flex;
        flex-direction: row;
    }
    .content > div:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }
    .content > div:first-child {
        padding-top: 50px;
    }
 
}



/* Shake Animation */
@keyframes shake {
  0% {
    transform: translate(0.4px, 0.4px) rotate(0deg);
  }

  10% {
    transform: translate(-0.4px, -0.8px) rotate(-0.4deg);
  }

  20% {
    transform: translate(-0.12px, 0px) rotate(0.4deg);
  }

  30% {
    transform: translate(0.12px, 0.8px) rotate(0deg);
  }

  40% {
    transform: translate(0.4px, -0.4px) rotate(0.4deg);
  }

  50% {
    transform: translate(-0.4px, 0.8px) rotate(-0.4deg);
  }

  60% {
    transform: translate(-0.12px, 0.4px) rotate(0deg);
  }

  70% {
    transform: translate(0.12px, 0.4px) rotate(-0.4deg);
  }

  80% {
    transform: translate(-0.4px, -0.4px) rotate(0.4deg);
  }

  90% {
    transform: translate(0.4px, 0.8px) rotate(0deg);
  }

  100% {
    transform: translate(0.4px, -0.8px) rotate(-0.4deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: translate(0.4px, 0.4px) rotate(0deg);
  }

  10% {
    transform: translate(-0.4px, -0.8px) rotate(-0.4deg);
  }

  20% {
    transform: translate(-0.12px, 0px) rotate(0.4deg);
  }

  30% {
    transform: translate(0.12px, 0.8px) rotate(0deg);
  }

  40% {
    transform: translate(0.4px, -0.4px) rotate(0.4deg);
  }

  50% {
    transform: translate(-0.4px, 0.8px) rotate(-0.4deg);
  }

  60% {
    transform: translate(-0.12px, 0.4px) rotate(0deg);
  }

  70% {
    transform: translate(0.12px, 0.4px) rotate(-0.4deg);
  }

  80% {
    transform: translate(-0.4px, -0.4px) rotate(0.4deg);
  }

  90% {
    transform: translate(0.4px, 0.8px) rotate(0deg);
  }

  100% {
    transform: translate(0.4px, -0.8px) rotate(-0.4deg);
  }
}