* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



body {
    padding: 0px;
    justify-items: center;



    /* Text positioning */
    text-align: center;

    /* No Text select or image dragging */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.title-nav {
    width: 100%;
    background-color: rgba(240, 248, 255, 0); /* Fully opaque */
    transition: background-color;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

.title {
    font-size: 5vw;
    font-weight: bold; 
    text-align: center;
    width: 100%;
}


.nav {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.content div {
    width: 100%;
    height: calc(17vw + 12vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw, 0;
}
.content img {
    
    height: calc(15vw + 10vh);
    transition: height 0.4s, transform 0.4s;
}
.content img:hover {
    height: calc(17vw + 12vh);
    cursor: pointer;
}
.content h1 {
    font-size: 3vw; /* Base font size */
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 150%; 
}

@media (max-width: 60vh) {
    .content h1:nth-child(even) {
        padding-left: 0px;
        padding-top: 60px;
    }
    .content h1:nth-child(odd) {
        padding-right: 0px;
        /* PADDING NOT WORKING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
        padding-top: 60px;
    }
    .content div:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }
    .content div:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
    }
    .content img:nth-child(odd) {
        padding-left: 0px;
    }

    .content img:nth-child(even) {
        padding-right: 0px;
    }

}

@media (min-width: 60vh){
   .content h1:nth-child(even) {
        padding-left: 50px;
    }
    .content h1:nth-child(odd) {
        padding-right: 50px;
    }
    .content div:nth-child(even) {
        display: flex;
        flex-direction: row;
    }
    .content div:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }
    .content img:nth-child(odd) {
        padding-left: 100px;
    }

    .content img:nth-child(even) {
        padding-right: 20px;
    }
 
}




