* {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



body {
    padding: 0px;
    justify-items: center;

    text-align: center;

    /* Text positioning */

    /* No Text select or image dragging */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -moz-user-select: none;
    -webkit-user-drag: none;
    margin: 0px;
    
    background-color: rgb(45 44 44);
}

.nav {
    padding-top: 10px;
    width: 100%;
    background-color: rgba(31, 30, 30, 0); /* Fully opaque */
    transition: background-color;
    position: sticky;
    top: 0; 
}

.title {
    font-size: 5vw;
    font-weight: bold; 
    text-align: center;
    width: 100%;
    color: rgb(246 244 240);
}


.nav-elements {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    color: rgb(168 166 162);
}
.content {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: rgb(252 244 240);
    padding-top: 20px;
}
.content div {
    width: 100%;
    height: calc(20vw + 15vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vw, 0;
}
.content img {
    margin: auto;
    height: calc(18vw + 13vh);
}
.content img:hover {
    height: calc(20vw + 15vh);
    cursor: pointer;
}
.content h1 {
    font-size: 3vw; /* Base font size */
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 150%; 
}

@media (max-width: 70vh) {
    .content h1:nth-child(even) {
        padding-left: 0px;
    }
    .content h1:nth-child(odd) {
        padding-right: 0px;        
    }
    .content div:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 60px;
    }
    .content div:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 60px;
    }


}

@media (min-width: 70vh){
    .content div:nth-child(odd) h1 {
        padding-right: 100px;
    }
    .content div:nth-child(even) h1 {
        padding-left: 100px;
    }
    .content div:nth-child(even) {
        display: flex;
        flex-direction: row;
    }
    .content div:nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }
 
}




